.header{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.body{
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
}
.modalRow{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  .modalRowTitle{
    flex-shrink: 0;
    margin-right: 16px;
  }
}
.oddRow{
  background-color: #ffffff;
}
.evenRow{
  background-color: #F0F6FF;
}
.filterBox{
  font-size: 18px;
 .filterHeader{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   color: #294266;
 }
  .filterBody{
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    .countryList{
      display: flex;
      flex-wrap: wrap;
      color: #666666;
      margin-bottom: 0;
      .countryItem{
        line-height: 20px;
        margin: 0 19px 20px;
        cursor:pointer;
      }
      .countryItemOk{
        border-bottom: 1px solid #247AF2;
        color: #247AF2;
      }
    }
    .filterTitle{
      flex-shrink: 0;
      display: inline-block;
      width: 100px;
      text-align: right;
    }
  }

}

