
.navAndBody{
  display: flex;
  overflow:hidden;
}
.body{
  width: 100%;
  padding: 30px 40px 30px 40px;
  box-sizing: border-box;
  background-color: #EFF3F5;
  height: calc(100vh - 100px);
  overflow: auto;
}