
.navAndBody{
  display: flex;
  overflow:hidden;
}
.body{
  width: calc(100% - 130px);
  padding: 20px 30px ;
  box-sizing: border-box;
  background-color: #EFF3F5;
  height: calc(100vh - 100px);
  overflow: auto;
}
.bodyBox{
  width: 100%;
  overflow: auto;
  min-width: 1160px;
}