.nav{
  width: 130px;
  background-color: #247AF2;
  background-image:-webkit-linear-gradient(90deg,#247AF2 120px,#EEF2F4 10px);
  background-image:-moz-linear-gradient(90deg,#247AF2 120px,#EEF2F4 10px);
  background-image:-ms-linear-gradient(90deg,#247AF2 120px,#EEF2F4 10px);
  background-image:-o-linear-gradient(90deg,#247AF2 120px,#EEF2F4 10px);
  background-image:linear-gradient(90deg,#247AF2 120px,#EEF2F4 10px);
  color: white;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  overflow-y: auto;
  &::-webkit-scrollbar{
    width:0;
  }
  flex-shrink: 0;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
    width: 120px;
    height: 120px;
    color: white;
    .navIco{
      display: inline-block;
      width: 34px;
      height: 34px;
    }
    p{
      width: 100%;
      line-height: 30px;
      font-size: 16px;
    }
  }
}
.navBox{
  width: 120px;
  background-color: #247AF2;
  color: white;
  box-sizing: border-box;
}
.on{
  width: 130px;
}