.body{
  padding: 0 8px 15px;
}
.filterUp{
  display: flex;
  justify-content: space-between;
}
.filterDown{
  display: flex;
  flex-wrap: wrap;
}
.oneFilter{
  display: flex;
  align-items: center;
}